<h1 class="p-3 mb-2 bg-success text-white" >Editar Curso</h1>
<%= form_for @course do |f| %>

  <div>
    <%= f.label :Nombre %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :Sigla %>
    <%= f.text_field :sigla %>
  </div>
  <div>
    <%= f.label :Descripción %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit :"Editar Curso"%>
  </div>

<% end %>
