<div class="container">
  <div class="row justify-content-md-center">
    <h1><b><%= @camps.nombre %></b></h1>
  </div>
  <div class="row justify-content-md-center">
    <h5><strong>Ubicación: </strong></h5>
  </div>
  <div class="row justify-content-md-center">
    <%= @camps.ubicacion %>
  </div>
  <div class="row justify-content-md-center">
    <div style="width: 50%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=<%= @camps.ubicacion %>&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/calcular-ruta.html">mapas y direcciones</a></iframe></div><br />
  </div>
  <div class="row justify-content-md-center">
    <%= link_to "Ubicación en Google Maps", @camps.url , :target =>  "_blanck" %>
  </div>
  <div class="row justify-content-md-center">
    <% if can? :manage, @camps %>
      <%= link_to 'Editar', edit_camp_path(@camps) %>
  </div>
  <div class="row justify-content-md-center">
      <%= link_to 'Eliminar', camp_path(@camps),
                  method: :delete,
                  data: { confirm: '¿Estás seguro de eliminar este Campus?'} %>
  </div>
  <% end %>

  <h1>Salas:</h1>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th scope="col justify-content-md-center">Disponibilidad</th>
        <th>Ruido</th>
        <th>Enchufes</th>
        <th colspan ='4' ></th>
      </tr>
    </thead>

    <tbody>
      <% @camps.study_rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= calculate_availability(room) %></td>
        <td><%= calculate_noise(room) %></td>
        <td><%= calculate_plugs(room) %></td>
        <td><%= link_to 'Ver Más',camp_study_room_path(@camps, room) %></td>
        <% if can? :manage, room %>
          <td><%= link_to 'Editar',edit_camp_study_room_path(@camps, room) %></td>
          <td><%= link_to 'Eliminar',camp_study_room_path(@camps, room), method: :delete %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if can? :create, StudyRoom %><%= link_to 'Nueva Sala de Estudio', new_camp_study_room_path(@camps) %><% end %>
</div>
